body {
    background-color: #ddd;
    margin: 10px;
    text-align: left;
}

.mupolls-finderform fieldset,
.mupolls-finderform fieldset legend {
    background-color: #fff;
    border: none;
}

#mupollsItemContainer {
    background-color: #eee;
    height: 300px;
    overflow: auto;
    padding: 5px;
}

#mupollsItemContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#mupollsItemContainer a {
    color: #000;
    margin: 0.1em 0.2em;
    text-decoration: underline;
}
#mupollsItemContainer a:hover,
#mupollsItemContainer a:focus,
#mupollsItemContainer a:active {
    color: #900;
    text-decoration: none;
}

#mupollsItemContainer a img {
    border: none;
}

#mupollsItemContainer a img {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    padding: 0.5em;
}
#mupollsItemContainer a:hover img,
#mupollsItemContainer a:focus img,
#mupollsItemContainer a:active img {
    background-color: #fff;
}
