{# Purpose of this template: Display votes within an external context #}
<dl>
    {% for vote in items %}
        <dt>{{ vote.getTitleFromDisplayPattern() }}</dt>
        <dd><a href="{{ path('mupollsmodule_vote_display', { 'id': vote.id }) }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
