{# purpose of this template: votes admin index view #}
{% extends 'MUPollsModule::adminBase.html.twig' %}
{% block title __('votes') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the vote section of the Polls application.') }}</p>
{% endblock %}
